
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel-body">
            <div class="row">
                <h2>Obtener Todos</h2>
                <table id="listaHoteles" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>IdHotel</th>
                            <th>RazonSocial</th>
                            <th>IdTipoDocumento</th>
                            <th>Identificacion</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>FechaCreacion</th>
                            <th>FechaModificacion</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/core/Hoteles.js"></script>
}